<div class="resumoSimulacao">
    <div class="titulo">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1><span>parabéns,</span></h1>
                </div>
                <div class="col-12">
                    <h2>você está a poucos passos de concluir a contratação de seu seguro :)</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<app-parcela-simulacao [parcelas]="parcelas"></app-parcela-simulacao>
<app-cobertura-simulacao [coberturas]="coberturas"></app-cobertura-simulacao>