<div class="row">
    <div class="col-12">
        <h3>cotação do meu seguro residencial</h3>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <img src="../../../../assets/imagens/resid_modal_block_icone_alerta_seguros.svg">
    </div>
    <div class="col-9">
        <p>poxa! este seguro residencial não é válido para imóveis de madeira ou local desocupado. mas você
           pode contratar o seguro para um imóvel de alvenaria, sendo casa, apartamento ou chácara que esteja
           ocupado.</p>
    </div>
</div>